
.Containers{
    margin: 2%;
    margin-bottom: 1%;
    margin-top: 0;
}

.h2Underlines{
    border-bottom-style: solid;
    border-color: rgb(128, 128, 128);
}

p{
    font-size: 110%;
    font-family: 'Franklin Gothic Light';
    text-align: justify;
    margin: 2%;
    margin-bottom: 1%;
    margin-top: 0;
}

h1{
    font-family: 'Franklin Gothic Light';
    text-align: center;
    border-bottom-style: solid;
    border-color: rgb(128, 128, 128);
    margin: 2%;
    margin-bottom: 0;
    margin-top: 0;
}

h2{
    font-family: 'Franklin Gothic Light';
    text-align: center;
    padding-top: 2%;
    margin: 2%;
    margin-top: 0;
}

h3{
    font-family: 'Franklin Gothic Light';
    text-align: center;
    padding-top: 2%;
    border-bottom-style: solid;
    border-color: rgb(128, 128, 128);
    margin: 2%;
    margin-top: 0;
}

.Headers{
    font-family: 'Franklin Gothic Light';
    text-align: center;
    padding-top: 2%;
    border-bottom-style: solid;
    border-color: rgb(128, 128, 128);
    margin: 2%;
    margin-top: 0;
}

.Title{
    font-family: 'Franklin Gothic Light';
    text-align: center;
    border-bottom-style: solid;
    border-color: rgb(128, 128, 128);
    margin: 2%;
    margin-top: 0;
}

.Subtitles{
    font-family: 'Franklin Gothic Light';
    font-size: 120%;
    font-weight:bold;
    margin: 2%;
    margin-bottom: 0;
    margin-top: 0;
}

a{
    font-family: 'Franklin Gothic Light';
    text-decoration: underline;
    font-weight: bold;
}

.DarkButton{
    text-align: right;
}

.LightButton{
    text-align: right;
    display: none;
}

nav{
    font-family: 'Franklin Gothic Light';
    background-color: white;
    border-bottom-style: solid;
    border-color: rgb(128, 128, 128);
}